<% provide(:title, "New ttbsession") %> 
<h1>TTB/NEW.HTML.ERB</h1>

<div class="row">
  <div class="span6 offset3">
  	<%= form_tag ttb_sessions_path do %>
		<%= label_tag :ttb_password %>
  		<%= text_field_tag :ttb_password %>
  		<%= submit_tag "New ttb session", :class => "btn btn-large btn-primary" %>
  	<% end %>
  </div>
</div>
